<%= form_with url: "bookings/new/", method: "get", local: true do |f| %>
  <% @available_flights.each do |flight| %>
    <% departure_airport = flight.departure_airport.code %>
    <% arrival_airport = flight.arrival_airport.code %>
    <% selected_date = flight.start.strftime('%B %d, %Y') %>
    <% scheduled_time = flight.start.strftime('%H:%M') %>
    <% duration = flight.duration_hrs %>

    <div class="columns is-vcentered is-centered">
      <div class="column is-narrow has-text-centered">
        <%= radio_button_tag(:flight, flight.id, { checked: true }) %>
      </div>

      <div class="column is-three-fifths">
        <div class="box">
          <div class="columns">
            <div class="column has-text-centered">
              Departs: <%= departure_airport %>
            </div>
            <div class="column has-text-centered">
              <%= selected_date %><br>
              <%= (flight.duration_hrs) %> Hours
            </div>
            <div class="column has-text-centered">
              Arrives at: <%= arrival_airport %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= f.submit "Continue to passenger details", class: "button is-dark is-outlined" %>
<% end %>