<div id="<%= dom_id flight %>" class="flight">
  <div class="title-wrapper">
    <h3>Airline Ticket</h3>
  </div>

  <div class="flight-details">
    <div class="details-wrapper">
      <p class="label">Flight</p>
      <p class="detail"><%= flight.id %></p>
    </div>

    <div class="details-wrapper">
      <p class="label">Date</p>
      <p class="detail"><%= flight.start.strftime('%d.%m.%y') %></p>
    </div>

    <div class="details-wrapper">
      <p class="label">From</p>
      <p class="detail"><%= flight.departure_airport.code %></p>
    </div>

    <div class="details-wrapper">
      <p class="label">To</p>
      <p class="detail"><%= flight.arrival_airport.code %></p>
    </div>

    <div class="details-wrapper">
      <p class="label">Duration</p>
      <p class="detail"><%= flight.duration_hrs %></p>
    </div>

    <div></div>

  </div>
  <div class="flight-footer"></div>
</div>